body {
    font-family: Times New Roman;
    margin: 0;
}

header {
    background-color: #E6E6E6;
    text-align: center;
}

h1 {
    line-height: 25px;
    color: #005677;
    padding: 16px;
    text-align: center;
    background: #C4C4C4;
    margin-top: 0;
    letter-spacing: 10px;
}

main {
    max-width: 1120px;
    margin: 112px 288px;
}

h2 {
    background: #C4C4C4;
    padding: 5px 16px;
    margin: 0;
    letter-spacing: 10px;
    word-spacing: 10px;
    color: #005677;
}

li {
    padding: 5px;
    color: #000000;
    margin-left: 100px;
}

.item {
    font-weight: bold;
    font-style: italic;
}

.descripcion {
    padding-left: 80px;
}

.fecha {
    font-weight: bold;
}

footer {
    padding: 13px;
    color: white;
    text-align: center;
    background: #005677;
    word-spacing: 10px;
}