/*Generales*/

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Roboto', sans-serif;
}


/*Header*/

header {
    background-color: black
}

.justify {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.top {
    color: #F3F3F3
}

.menu {
    text-align: right;
}

.contenedor {
    background-color: #F0A83E;
    word-spacing: 16px;
    font-size: 12px;
}

.contenedor i {
    display: none;
}

.link::before {
    font-family: 'FontAwesome';
    content: "\f1b0";
    color: #FFFFFF;
    margin-right: 0.3rem;
}

.link:hover {
    color: #3C2313;
}


/*.pawprint {
    height: 14px;
    width: 15px;
}*/

.logo {
    height: 23px;
    width: 166px;
    left: 788px;
    top: 1636px;
    margin-right: 20px;
}

.logo:hover {
    height: 25px;
    width: 170px;
}


/*Main*/

h2 {
    background-color: #ffffff;
    width: max-content;
    font-size: 1.9rem;
    padding: 0.62rem;
}

h2::selection {
    color: #F0A83E;
}

h2:hover {
    background-color: #e9c083;
}

.banner {
    background-image: url(../img/foto.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    color: #3C2313;
    width: 100%;
    height: 35rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.banner p {
    font-size: 1rem;
    margin: 0.62rem;
}

.carteles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.boton {
    background-color: #F0A83E;
    width: max-content;
    color: #ffffff;
    padding: 20px;
}

.boton:hover {
    background-image: linear-gradient( 100deg, #02a5a5 50%, #028484 50%);
}

.principal {
    text-align: center;
}

.paw {
    width: 67px;
    height: 71px;
}

.paw:hover {
    width: 75px;
    height: 79px;
}

h1 {
    color: #3C2313;
    font-size: 40px;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: #666666;
    font-size: 15px;
    font-weight: 400;
    margin: 20px;
}

nav a:hover {
    color: #3C2313;
    font-size: 1rem;
}

.tarjetas {
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
}

.articulo h3 {
    color: #3C2313;
    font-weight: 500;
}

.articulo p {
    color: #F0A83E;
    font-weight: 500;
    font-size: 19px;
}

.articulo img:hover {
    width: 290px;
    height: 294px;
}


/*Contactanos*/

#contactanos h3 {
    color: #3C2313;
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 5rem;
}

#contactanos form {
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
}

.etiqueta {
    background-color: #3C2313;
    width: 30vw;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    text-align: left;
    padding-left: 1rem;
    margin: 0.5rem auto;
}

.etiqueta:focus {
    background-color: #F0A83E;
}

.botones {
    width: 50%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 5rem;
}

.button {
    width: 47%;
    height: 2rem;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #8A8787;
    border-style: none;
    cursor: pointer;
}

.button:hover {
    position: relative;
    bottom: 0.5rem;
    opacity: 0.5;
}

.entrar {
    background-color: #F0A83E;
}


/*Enviar Correo*/

.enviarCorreo {
    background-color: #F0A83E;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 20px;
}

.enviarCorreo img {
    padding: 0 23px;
}

.enviarCorreo img:hover {
    position: relative;
    left: 1rem;
}

.suscribir {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 25rem;
    gap: 0.5rem;
}

.suscribir .etiqueta {
    background-color: #fff;
    border-style: none;
}

.suscribir .etiqueta:hover {
    background-color: #e9c083;
    border-style: none;
}

.suscribir .button {
    background-color: #3C2313;
    font-size: 0.8rem;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 1rem;
}


/*Contacto*/

.contacto {
    background-color: #3C2313;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: flex-start;
    margin: 20px 40px;
    gap: 40px;
}

.contacto h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0;
    text-align: left;
    width: 168px;
}

.contacto p {
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0;
    text-align: left;
    color: #8A8787;
    width: 100%;
}

.fondo {
    color: #F3F3F3;
    background-color: #222222;
    text-align: center;
    font-weight: bold;
}


/*Media Queries*/

@media screen and (max-width: 480px) {
    .grandesOfertas {
        display: none;
    }
    header nav {
        display: none;
    }
    .contenedor i {
        display: inline-block;
        color: #FFFFFF;
        font-size: 1rem;
    }
    .banner {
        height: 27.5rem;
        background-size: cover;
    }
    h2 {
        font-size: 1.5rem;
        font-weight: 400;
    }
    .carteles {
        align-items: flex-end;
    }
    .tarjetas {
        flex-direction: column;
        gap: 1.5rem;
    }
    .principal nav {
        margin-top: 1rem;
    }
    .contacto {
        display: flex;
        flex-direction: column;
    }
    .contacto img.logo {
        order: -2;
        margin-top: 1em;
    }
}